.color-picker {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -1;
  transition: background-color 0.3s;
  overflow: hidden;

  &__btn {
    width: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.2s;
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__camera-btn {
    @extend .color-picker__btn;
    position: fixed;
    left: 30px;
    top: 250px;
    width: 150px;
    height: 200px;
    padding: 0;
    transform-origin: center center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.6s;
    opacity: 1;

    &--flipped {
      transform: translateX(-50%) rotateY(180deg);
      left: 50%;
      opacity: 0;
    }
  }

  &__camera-front {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__camera-back {
    @extend .color-picker__btn;
    position: fixed;
    left: 30px;
    top: 250px;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    transform-origin: center center;
    transition: all 0.6s;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(-180deg);
    opacity: 0;

    &--flipped {
      transform: translateX(-50%) rotateY(0deg);
      opacity: 1;
      top: 180px;
      left: 50%;
      width: 300px;
      height: 300px;
    }
  }

  &__camera-view {
    width: 100%;
    height: 100%;
  }

  &__panel {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 120px);
    height: auto;
    min-height: 300px;
    padding: 30px;
    border-radius: 18px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    overflow: hidden;
  }

  &__grayscale-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    pointer-events: none;
  }

  &__preset-color {
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  }

  &__header {
    width: 100%;
  }

  &__input-group {
    display: flex;
    width: 100%;
    gap: 20px;
    overflow: hidden;
  }

  &__hex-input-container {
    display: flex;
    align-items: center;
    width: 120px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 12px 15px;
    flex-shrink: 0;
    flex-grow: 0;
    transition: all 0.2s;

    &:focus-within {
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__hex-prefix {
    font-family: monospace;
    font-size: 24px;
    margin-right: 2px;
  }

  &__hex-input {
    width: calc(100% - 15px);
    border: none;
    background: transparent;
    border: none;
    font-family: monospace;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:focus {
      outline: none;
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__preset-input-name {
    flex: 1;
    min-width: 0;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 24px;
    transition: all 0.2s;

    &:focus {
      outline: none;
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__add-preset-btn {
    @extend .color-picker__btn;
    width: 150px;
    font-size: 24px;
  }

  &__presets {
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 3px;
    }
  }

  &__preset-list {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    min-width: min-content;
    padding: 0 10px 0 10px;
  }

  &__preset-item {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
    flex-shrink: 0;

    &--active {
      transform: scale(1.05);

      .color-picker__preset-color {
        border-color: #00ff88;
        box-shadow: 0 0 10px rgba(0, 255, 136, 0.3);
      }

      .color-picker__preset-name {
        font-weight: bold;
      }

      .color-picker__preset-delete {
        display: block;
        background: #ff0000;
        pointer-events: all;
      }
    }
  }

  &__preset-color {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: all 0.2s;
  }

  &__preset-name {
    width: 100px;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.2s;
  }

  &__preset-delete {
    display: none;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 30px;
    pointer-events: none;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 15px;

    wx-slider {
      margin: 0;
      flex: 1;

      .wx-slider-handle-wrapper {
        height: 60px;
        border-radius: 230px;

        .wx-slider-track {
          border-radius: 30px;
        }
      }
    }
  }

  &__slider {
    &--color {
      .wx-slider-handle-wrapper {
        background: linear-gradient(to right,
            hsl(0, 100%, 50%) 0%,
            hsl(30, 100%, 50%) 12%,
            hsl(120, 100%, 50%) 33%,
            hsl(240, 100%, 50%) 66%,
            hsl(360, 100%, 50%) 100%) !important;
      }
    }

    &--saturation {
      .wx-slider-handle-wrapper {
        background: linear-gradient(to right,
            hsl(var(--hue), 0%, 50%),
            hsl(var(--hue), 100%, 50%));
      }
    }

    &--lightness {
      .wx-slider-handle-wrapper {
        background: linear-gradient(to right,
            hsl(var(--hue), 100%, 0%),
            hsl(var(--hue), 100%, 100%));
      }
    }

    &--brightness {
      .wx-slider-handle-wrapper {
        background: linear-gradient(to right, #000000 0%, #ffffff 100%);
      }
    }
  }

  &__slider-container {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;

    &--color {
      .color-picker__slider {
        z-index: 11;
        position: relative;
      }
    }
  }

  &__slider-title {
    width: 140px;
  }

  &__color-bar {
    overflow: hidden;
    border-radius: 40px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 80px;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(to right,
        #ff0000,
        #ffa500,
        #00ff00,
        #0000ff,
        #ff0000);
  }

  &__actions {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

  &__toggle-btn {
    @extend .color-picker__btn;
    width: unset;
    height: unset;
    padding: 20px 20px;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;

    .camera-icon {
      width: 20px;
      height: 20px;
    }
  }

  &--hidden {
    .color-picker__panel {
      min-height: 0;
      height: 0;
      opacity: 0;
      bottom: 0;
      pointer-events: none;
      overflow: hidden;
    }

    .color-picker__btn {
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

// landscape mode 适配小程序pc端，px字段均为Px，注意格式化时大小写
.color-picker.landscape {
  .color-picker__btn {
    width: 50Px;
    font-size: 24Px;
    border-radius: 10Px;
  }

  .color-picker__camera-btn {
    left: 30Px;
    top: 100Px;
    width: 150Px;
    height: 200Px;
  }

  .color-picker__camera-back {
    left: 30Px;
    top: 100Px;
    width: 150Px;
    height: 200Px;

    &--flipped {
      top: 80Px;
      left: 50%;
      width: 300Px;
      height: 300Px;
    }
  }

  .color-picker__panel {
    bottom: 100Px;
    width: 50%;
    min-height: 0Px;
    padding: 15Px;
    border-radius: 10px;
  }

  .color-picker__grayscale-indicator {
    font-size: 12Px;
  }

  .color-picker__input-group {
    gap: 20Px;
  }

  .color-picker__hex-input-container {
    width: 120Px;
    padding: 12Px 15Px;
    border-radius: 10Px;
  }

  .color-picker__hex-prefix {
    font-size: 18Px;
  }

  .color-picker__hex-input {
    font-size: 18Px;
  }

  .color-picker__preset-input-name {
    padding: 20Px 15Px;
    font-size: 18Px;
    border-radius: 10Px;
    display: inline-block;
    height: 100%;
  }

  .color-picker__add-preset-btn {
    width: 150Px;
    font-size: 24Px;

  }

  .color-picker__presets {
    margin-top: 20Px;
    margin-bottom: 20Px;
    padding-bottom: 10Px;

    &::-webkit-scrollbar {
      height: 6Px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 3Px;
    }
  }

  .color-picker__preset-list {
    margin-top: 20Px;
    gap: 20Px;
    padding: 0 10Px 0 10Px;
  }

  .color-picker__preset-item {
    &--active {

      .color-picker__preset-color {
        border-color: #00ff88;
        box-shadow: 0 0 10Px rgba(0, 255, 136, 0.3);
      }

      .color-picker__preset-name {
        font-weight: bold;
      }

      .color-picker__preset-delete {
        display: block;
        background: #ff0000;
        pointer-events: all;
      }
    }
  }

  .color-picker__preset-color {
    width: 80Px;
    height: 80Px;
    border-radius: 10Px;
  }

  .color-picker__preset-name {
    width: 80Px;
    font-size: 18Px;
    margin-top: 8Px;
  }

  .color-picker__preset-delete {
    top: -8Px;
    right: -8Px;
    width: 20Px;
    height: 20Px;
    font-size: 20Px;
    line-height: 18Px;
  }

  .color-picker__controls {
    gap: 15Px;

    wx-slider {
      .wx-slider-handle-wrapper {
        height: 35Px;
        border-radius: 30Px;

        .wx-slider-track {
          border-radius: 30Px;
        }
      }
    }

  }

  .color-picker__actions {
    bottom: 30Px;
    margin-top: 25Px;
  }

  .color-picker__toggle-btn {
    padding: 10Px 50Px;
    font-size: 24Px;
    line-height: 24Px;
    gap: 10Px;
  }
}